{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}" />
{% endblock %}

{% block body %}

    {% for continentCategory in continentCategories %}

        <div class="title_and_line">
            <h1 class="categorie_h1">{{ continentCategory.title }}</h1>
            <hr class="line-quizz_recette" />
        </div>

        <h2 class="categorie_h2">{{ continentCategory.introduction }}</h2>

        <div class="articles">
            {% for countryCategory in continentCategory.countryCategories %}

                <div class="article">
                    <h3 class="article_title">{{ countryCategory.title }}</h3>
                    <img class="article_image" src="{{ countryCategory.image }}" alt="{{ countryCategory.title }}">

                    <a href="{{ path('app_countryRecipe', {'id': countryCategory.id}) }}">
                        <button>Voir les détails de la recette</button>
                    </a>
                </div>

            {% endfor %}
        </div>

    {% endfor %}

{% endblock %}
