{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/registration/registration.css') }}" />
{% endblock %}

{% block body %}
    <div class="register-form">
        <h1 class="form-title">Register</h1>

        <div class="error-message">
            {{ form_errors(registrationForm) }}
        </div>

        {{ form_start(registrationForm) }}
        
        <div class="input-field">
            <label for="{{ registrationForm.username.vars.id }}">Username:</label>
            {{ form_widget(registrationForm.username) }}
        </div>

        <div class="input-field">
            <label for="{{ registrationForm.plainPassword.vars.id }}">Password:</label>
            {{ form_widget(registrationForm.plainPassword) }}
        </div>

        <div class="input-field">
            <label for="{{ registrationForm.agreeTerms.vars.id }}">Agree to Terms:</label>
            {{ form_widget(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="submit-button">Register</button>

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
