{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h1_recette">Mes Recettes</h1>
    {% if mesRecettes is not empty %}
        <ul>
            <div class="recettes">
                {% for recette in mesRecettes %}
                    <li>
                        <div class="recette">
                            <strong>{{ recette.title }}</strong>
                            <p>{{ recette.description }}</p>
                            <img src="{{ asset('uploads/images/' ~ recette.image) }}" alt="{{ recette.title }}">

                            <!-- Bouton Modifier -->
                            <a href="{{ path('edit_recette', {'id': recette.id}) }}" class="btn btn-primary">Modifier</a>
                            
                            <!-- Bouton Supprimer -->
                            <a href="{{ path('delete_recette', {'id': recette.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette recette ?')">Supprimer</a>
                       
                        </div>
                    </li>
                {% endfor %}
            </div>
        </ul>
    {% else %}
        <p>Aucune recette disponible.</p>
    {% endif %}
{% endblock %}
