{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/mes_recettes.css') }}" />
{% endblock %}

{% block body %}
    <h1 class="h1_recette">Mes Recettes</h1>
    {% if mesRecettes is not empty %}
        
            <div class="recettes">
            
                {% for recette in mesRecettes %}
                <ul>
                    <li>
                        <div class="recette">
                            <strong>{{ recette.title }}</strong>
                            <p>{{ recette.description }}</p>
                            <img src="{{ asset('uploads/images/' ~ recette.image) }}" alt="{{ recette.title }}">

                            <a href="{{ path('edit_recette', {'id': recette.id}) }}" class="btn btn-primary">Modifier</a>
                            
                            <a href="{{ path('delete_recette', {'id': recette.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette recette ?')">Supprimer</a>
                       
                        </div>
                    </li>
                </ul>
                {% endfor %}
            
            </div>
        
    {% else %}
        <p>Aucune recette disponible.</p>
    {% endif %}
{% endblock %}
