{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/new_recette.css') }}" />
{% endblock %}


{% block body %}
    <h1 class="title_recettes">Partager vos Recettes</h1>

    <div class="form_recette">
        {{ form_errors(recetteForm) }}
        {{ form_start(recetteForm, {'attr': {'method': 'POST'}}) }}
        <div class="title_form">{{ form_row(recetteForm.title, { 'label': 'Titre :' }) }}</div>
        <div class="description_form">{{ form_row(recetteForm.description, { 'label': 'Description :' }) }}</div>
        <div class="image_form">{{ form_row(recetteForm.image, { 'label': 'Image :' }) }}</div>
        <button class="button_form" type="submit">Créer le Post</button>
    </div>
    {{ form_end(recetteForm) }}

{% endblock %}