{% extends 'base.html.twig' %}

{% block body %}
    {% set commentForms = {} %}

    <h1 class="h1_recette">Vos Recettes</h1>

    {% if recettes is not empty %}
        <ul>
            <div class="recettes">
                {% for recette in recettes %}
                    <li>
                        <div class="recette">
                            <strong>{{ recette.title }}</strong>
                            <p>{{ recette.description }}</p>
                            <img src="{{ asset('uploads/' ~ recette.image) }}" alt="{{ recette.title }}" />
                            <p>Auteur: {{ recette.user.username }}</p>

                            {% if recette.comments is not empty %}
                                <h2>Commentaires :</h2>
                                <ul>
                                    {% for comment in recette.comments %}
                                        <li>
                                            <p>{{ comment.content }} - Auteur: {{ comment.user.username }} - Date: {{ comment.createAt|date('Y-m-d H:i:s') }}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}


          
                        </div>
                    </li>
                {% endfor %}
            </div>
        </ul>
    {% else %}
        <p>Aucune recette disponible.</p>
    {% endif %}
{% endblock %}
