<nav class="navbar">
    <a href="{{ path('app_home') }}" class="logo">FOOD.Travel</a>
    <div class="nav-links">
        <ul>
            <li><a href="{{ path('app_home') }}">Recettes du monde</a></li>
            <li><a href="{{ path('new_recette') }}">Créer vos recettes</a></li>
            <li><a href="{{ path('mes_recettes') }}">Vos recettes</a></li>
            <li><a href="{{ path('toutes_les_recettes') }}">Toutes les recettes</a></li>
            <li><a href="{{ path('quizz') }}">Quizz</a></li>
            {% if app.user %}
                <li>
                    <div class="user-info">
                        {{ app.user.userIdentifier }}
                        <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Connexion / Inscription</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
