{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/recipe.css') }}" />
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="h1_recipe" >Liste des Recettes</h1>

{% if recipes is empty %}
    <p>Aucune recette n'est disponible pour le moment.</p>
{% else %}
    <ul>
        <div class="articles">
            {% for recipe in recipes %}
                <div class="article">
                    <h3 class="article_title">{{ recipe.title }}</h3>
                    <img class="article_image" src="{{ asset(recipe.picture) }}" alt="{{ recipe.title }}" />
                    <a href="{{ path('app_recipe_details', {'id': recipe.id}) }}">
                        <button>Voir les détails de la recette</button>
                    </a>
                </div>
            {% endfor %}
        </div>
    </ul>
{% endif %}

{% endblock %}
