{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/quizz.css') }}" />
{% endblock %}

{% block body %}

    <h1>Bienvenue sur le quizz, tentez votre chance !</h1>

    <div class="form_quizz">
        <h2 class="title_quizz">{{ quizz.question }}</h2>

        {% if quizz.image %}
            <img src="{{ asset(quizz.image) }}" alt="{{ quizz.question }}" class="image_form">
        {% endif %}

        <h2 class="title_form">Réponse :</h2>
        <form method="post" action="{{ path('quizz') }}">
            <ul>
                <li>
                    <input type="checkbox" id="choix1" name="choix1" value="{{ quizz.choix1 }}" class="title_form">
                    <label for="choix1" class="title_form">{{ quizz.choix1 }}</label>
                    {% if quizz.reponse_correct == quizz.choix1 and choix.choix1 == quizz.choix1 %}
                        <span class="correct-answer title_form">(Réponse Correcte)</span>
                    {% endif %}
                </li>
                <li>
                    <input type="checkbox" id="choix2" name="choix2" value="{{ quizz.choix2 }}" class="title_form">
                    <label for="choix2" class="title_form">{{ quizz.choix2 }}</label>
                    {% if quizz.reponse_correct == quizz.choix2 and choix.choix2 == quizz.choix2 %}
                        <span class="correct-answer title_form">(Réponse Correcte)</span>
                    {% endif %}
                </li>
                <li>
                    <input type="checkbox" id="choix3" name="choix3" value="{{ quizz.choix3 }}" class="title_form">
                    <label for="choix3" class="title_form">{{ quizz.choix3 }}</label>
                    {% if quizz.reponse_correct == quizz.choix3 and choix.choix3 == quizz.choix3 %}
                        <span class="correct-answer title_form">(Réponse Correcte)</span>
                    {% endif %}
                </li>
            </ul>
            <button type="submit" class="button_quizz">Soumettre</button>
        </form>
    </div>
{% endblock %}
